  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{% url 'landing' %}">Civora Nexus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'job_list' %}">Browse Jobs</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'chatbot' %}">Career Assistant</a></li>
          
          <li class="nav-item"><a class="nav-link" href="{% url 'track_status' %}">Track Status</a></li>


          {% if user.is_authenticated %}
            <li class="nav-item">
              <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:2;">Logout</button>
              </form>
            </li>

          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
